<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    <button id="btn">post</button>
    <script>
      const btn = document.querySelector('#btn');

      btn.addEventListener('click', () => {
        fetch('/post', {
          method: 'POST',
          headers: {
            Exchange: 'FE',
            'Content-Type': 'application/json;charset=UTF-8',
          },
          body: JSON.stringify({ name: 'yangyong',age:10 }),
        }).then(ret=>{
          return ret.json()
        }).then(json=>{
          console.log(json)
        });
      });
    </script>
  </body>
</html>
